.neon {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #2196f3;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;

    &__gaming {
        background: linear-gradient(to right, Magenta, yellow, Cyan, Magenta) 0%
            center/200%;
        animation: gaming 2s linear infinite;
        padding: 20px 25px;
    }
    @keyframes gaming {
        /* backgroundを移動させる */
        100% {
            background-position-x: 200%;
        }
    }

    &__loading {
        animation: rainbow 5s infinite;
    }
    @keyframes rainbow {
        12% {
            color: #ff5353;
        }
        24% {
            color: #ffcf53;
        }
        36% {
            color: #e8ff53;
        }
        48% {
            color: #53ff5d;
        }
        60% {
            color: #53ffbc;
        }
        72% {
            color: #5393ff;
        }
        84% {
            color: #ca53ff;
        }
        100% {
            color: #ff53bd;
        }
    }

    &:hover {
        color: #fdfa31;
        background: #ffffff;
        box-shadow: 0 0 10px #ffffff, 0 0 40px #ffffff, 0 0 80px #ffffff;
        transition-delay: 1s;
    }

    span {
        position: absolute;
        display: block;

        &:nth-child(1) {
            top: 0;
            left: -100%;
            width: 100%;
            height: 2px;
            background: linear-gradient(90deg, transparent, #2196f3);
        }
    }

    &:hover span:nth-child(1) {
        left: 100%;
        transition: 1s;
    }

    span:nth-child(3) {
        bottom: 0;
        right: -100%;
        width: 100%;
        height: 2px;
        background: linear-gradient(270deg, transparent, #2196f3);
    }

    &:hover span:nth-child(3) {
        right: 100%;
        transition: 1s;
        transition-delay: 0.5s;
    }

    span:nth-child(2) {
        top: -100%;
        right: 0;
        width: 2px;
        height: 100%;
        background: linear-gradient(180deg, transparent, #2196f3);
    }

    &:hover span:nth-child(2) {
        top: 100%;
        transition: 1s;
        transition-delay: 0.25s;
    }

    span:nth-child(4) {
        bottom: -100%;
        left: 0;
        width: 2px;
        height: 100%;
        background: linear-gradient(360deg, transparent, #2196f3);
    }

    &:hover span:nth-child(4) {
        bottom: 100%;
        transition: 1s;
        transition-delay: 0.75s;
    }
}
