.tab {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: center;

    &__item {
        border-bottom: 2px solid $grey-1;
        color: $grey-2;
        cursor: pointer;
        margin: 0 1rem 0 0;
        padding: 1rem;

        &--active {
            border-bottom: 2px solid white;
            color: white;
            font-weight: bold;
        }
    }
}
